@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #00b5fd);
  scale: 1.1;
  transition: scale 300ms;
}

/* connect wallet button */
#connect {
  background-color: transparent !important;
  border-radius: 0px !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  /* height: 0px !important; */
  width:  fit-content !important;
  min-width: fit-content !important;
  padding: 0px !important;
  border: none;
  letter-spacing: .5px;
}



/* body {
  font-family: sans-serif;
  font-size: 1.5rem;
}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-flow: row wrap;
  max-width: 40vw;
  margin: auto;
  align-items: baseline;
}

button[type="submit"] {
  padding: 5px 20px;
  margin: 10px auto;
  float: right;
}

#greeting {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
}

#greeting:empty {
  display: none;
} */
